[submodule "ext/ljx"]
	path = ext/ljx
	url = ../ljx.git
[submodule "ext/ljclang"]
	path = ext/ljclang
	url = ../ljclang.git
[submodule "ext/brigand"]
	path = ext/brigand
	url = git://github.com/edouarda/brigand.git
[submodule "ext/doctest"]
	path = ext/doctest
	url = git://github.com/onqtam/doctest.git
[submodule "ext/libcxx"]
	path = ext/libcxx
	url = ../libcxx.git
